@import '../theme/variables.scss';

.layout {
  max-width: 1200px;
  background-color: $black;
  min-height: 100vh;
  font-size: 1.6rem;
  color: whitesmoke;
  margin: 0 auto;
  padding-top: 5rem;
  min-height: 100vh;

  .searchSection {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.alert {
  margin: 2rem 4rem;
}