
.main {
	max-width: 1200px;
	background-color: $black;
	min-height: 100vh;
	font-size: 1.6rem;
	color: whitesmoke;
	margin: 0 auto;
	padding-top: 5rem;
	min-height: 100vh;
}

.alert {
	margin: 2rem 4rem;
}



